{% load static %}
<html lang="en">
<head>
    <!-- b-win-cd-02 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <!--Page Metadata-->
    <title>UST GLOBAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <meta http-equiv="cache-control" content="no-store">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="robots" content="follow, index"/>
    <meta name="language" content="en"/>
    <meta name="description"
          content="Perissos Private Wealth Management’s investing principles are grounded in the idea of causality; breaking down complex economic environments into their simple moving parts to identify cause-effect relationships to guide our decision making process"/>
    <link rel="canonical" href="index.html">
    <!-- Open Graph data -->
    <meta property="og:title" content="Perissos Private Wealth Management"/>
    <meta property="og:description"
          content="Perissos Private Wealth Management’s investing principles are grounded in the idea of causality; breaking down complex economic environments into their simple moving parts to identify cause-effect relationships to guide our decision making process"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="index.html"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Perissos Private Wealth Management"/>
    <meta name="twitter:card" content="summary"/>
    <link rel="stylesheet" type="text/css" href="https://perissos-production.s3.amazonaws.com/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<!--    <link rel='stylesheet' href="https://perissos-production.s3.amazonaws.com/assets/css/global.min7f2f.css"/>-->
    <link rel='stylesheet' href="{% static 'css/global.css' %}"/>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"/>
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <!--<link rel='stylesheet' href="https://perissos-production.s3.amazonaws.com/assets/css/home.css"/>-->
<!--    <link href="https://perissos-production.s3.amazonaws.com/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
<!--    <link rel="apple-touch-icon" sizes="57x57" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-57x57.png">-->
<!--    <link rel="apple-touch-icon" sizes="60x60" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-60x60.png">-->
<!--    <link rel="apple-touch-icon" sizes="72x72" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-72x72.png">-->
<!--    <link rel="apple-touch-icon" sizes="76x76" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-76x76.png">-->
<!--    <link rel="apple-touch-icon" sizes="114x114" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-114x114.png">-->
<!--    <link rel="apple-touch-icon" sizes="120x120" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-120x120.png">-->
<!--    <link rel="apple-touch-icon" sizes="144x144" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-144x144.png">-->
<!--    <link rel="apple-touch-icon" sizes="152x152" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-152x152.png">-->
<!--    <link rel="apple-touch-icon" sizes="180x180" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/apple-icon-180x180.png">-->
<!--    <link rel="icon" type="image/png" sizes="192x192" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/android-icon-192x192.png">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/favicon-32x32.png">-->
<!--    <link rel="icon" type="image/png" sizes="96x96" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/favicon-96x96.png">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/favicon-16x16.png">-->
<!--    <link rel="manifest" href="https://perissos-production.s3.amazonaws.com/assets/images/favicon/manifest.json">-->
<!--    <meta name="msapplication-TileColor" content="#ffffff">-->
    <meta name="msapplication-TileImage" content="https://perissos-production.s3.amazonaws.com/assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<nav class="global-header trackable" id="global-header" data-component-name="Header" data-content-name="Global Header">
    <div class="container">
        <a id="nav-mobile-menu" class="nav-mobile-menu">
            <img src="https://perissos-production.s3.amazonaws.com/assets/images/menu.png" alt="open menu" class="hamburger-menu"/>
            <img src="https://perissos-production.s3.amazonaws.com/assets/images/close-white.png" alt="close menu" class="close-menu"/>
        </a>

        <!-- <a href="index.html" class="logo" data-target-title="Dimensional Investing | Dimensional Fund Advisors" ><img src="-/media/Dimensional/Images/Global/logob1c1.svg?la=en&amp;hash=C102AF43E54D411D52078223936CD9CD2ECC3117" alt="Dimensional Logo" /></a> -->
        <a href="/" class="logo" data-target-title="Perissos Private Wealth Management">
            <img width="200px" class="" height="60px" src="{% static 'images/logo.png' %}" alt="Ust Logo"/></a>

        <div class="nav-links">
            <ul class="nav-links-main">

<!--                <li class="list ">-->
<!--                    <a href="/individual-investor/" class="">Individual Investor</a>-->
<!--                </li>-->
                {% if not "login" in request.path %}
                {% if not request.user.is_authenticated  %}
                <li class="list ">
                    <a href="{% url 'login' %}" class="">Login</a>
                </li>
                {% else %}
                <li class="list">
                <a href="/" class="">Home</a>
                </li>

                <button class="button logout"><a href="{% url 'logout' %}" class="">Logout</a></button>
                {% endif %}
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<body id="load" class="body-class bg-color">
{% block content %}
{% endblock %}
<!--<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/plugins/fingerprint.js"></script>-->
<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/global/dimensional.main3c5d.js"></script>
<!--<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/component/dim_detail.min3c5d.js"></script>-->
<!--<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/component/auxiliary.min3c5d.js"></script>-->
<!--<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/global/splash.min3c5d.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
<!--<script type='text/javascript' src="https://perissos-production.s3.amazonaws.com/assets/js/component/fund-center.min7b31.js"></script>-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>

</script>
</body>
<!--     <div id ="footer">-->
<!--        <div id="footer-main">-->
<!--            <div id="footer-links">-->
<!--                <ul id="footer-links-main">-->
<!--                    <li>-->
<!--                    <a href="/company/disclosure/" >Disclosure</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <a href="/company/privacy-policy/">Privacy Policy</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="footer-links-legal">-->
<!--            <ul>-->
<!--                <li id="footer-legal-copyright">-->
<!--                Ust Global-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--     </div>-->


</html>